@media (width < 999px) {}
*,
::after
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgimage {
    height:100vh;
    background: url('https://i.postimg.cc/wjQTZMjQ/Screen-Shot-2022-03-22-at-6-51-57-PM.png');
    background-size:cover;
    position:relative;
}

.aboutimage {
  position: relative;
  width: 250px;
  height: 230px;
  border-radius: 50%;
  top: 100px;
}

.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#meimage {
  justify-content: center;
  align-items: center;
}

.offcanvas-body {
    background-color: teal;
    color: black;
}

.imageAboutPage {
    width: 80%;
    border: #000000 solid 2px;
    border-radius: 50%;
}


.servicesText.card {
    height: 200px;
    cursor: pointer;
    text-align: center;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: black;
}

.servicesText:hover {
    border: 2px solid black;
}

#google-maps-display .text-marker{
.map-generator{width: 100rem; height: 100%; background: none;}

}

#footer{
    background-color: #212121;
    text-align: center;
    height: 0.5rem;
    color: black;
}

.fa-facebook {
    /* background: #3B5998; */
    color: black;
}

.fa-instagram {
    /* background: #125688; */
    color: black
}

.fa-twitter {
    /* background: #55ACEE; */
    color: black;
}

.fa-linkedin {
    /* background: #007bb5; */
    color: black;
}

.fa-google {
    /* background: #dd4b39; */
    color: black;
}

.fa-youtube {
    /* background: #bb0000; */
    color: black;
}

.fa-reddit {
    /* background: #ff5700; */
    color: black;
}

.fa-twitch {
    /* background-color: purple; */
    color: black;
}

.fa-whatsapp {
    /* background-color: green; */
    color: black;
}
.fa-github {
  color: black;
}

.fa-facebook:hover {
    color: rgb(52, 52, 255);
}

.fa-instagram:hover {
    color: #cc2366;
}

.fa-github:hover {
  color: black;
}

.fa-twitter:hover {
    color: rgb(90, 175, 249);
}

.fa-linkedin:hover {
    color: blue;
}

.fa-twitch:hover {
    color: purple;
}

.fa-youtube:hover {
    color: red;
}

.fa-reddit:hover {
    color: orangered;
}

.fa-whatsapp:hover {
    color: limegreen;
}

.fa {
    color: #000000;
}

.social-icons {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.social-icons a {
	color:#fff;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none; 
}

.social-icons a i {
	line-height:30px;
  font-size:30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.social-icons a:hover i {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

.container1 {
    position : relative;
    width : 1000px;
    display :flex;
    align-items : center;
    /* justify-content : center; */
    /* flex-warp : warp; */
    padding : 30px;  
  }
  
  .container1 .card {
    position: relative;
    width : 300px;
    height : 170px;  
    background-color : #ffffff00;
    margin : 0px;
    padding : 1rem;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 1s ease-in-out;
    border-radius : 15px;
    align-items: center;
  }

  .container1 .card:hover {
    height : 310px;    
  }
  
  .container1 .card .image {
    position : relative;
    width : 280px;
    height : 280px;
    top : -20%;
    /* box-shadow : 0 5px 20px rgba(0,0,0,0.2); */
    z-index : 1;
    align-items: center;
  }
  
  .container1 .card .image img {
    max-width : 100%;
    border-radius : 20px;
  }
  
  .container1 .card .content {
    position : relative;
    top : -60px;
    padding : 10px 15px;
    color : #111;
    text-align : center; 
    visibility : hidden;
    opacity : 0;
    transition : 0.7s ease-in-out;   
  }
  
  .container1 .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s; 
  }

  .container7 {
    position : relative;
    width : 1000px;
    display :flex;
    align-items : center;
    /* justify-content : center; */
    /* flex-warp : warp; */
    padding : 30px;  
  }
  
  .container7 .card {
    position: relative;
    width : 300px;
    height : 170px;  
    background-color : #ffffff00;
    margin : 0px;
    padding : 1.5rem;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 1s ease-in-out;
    border-radius : 50%;
    align-items: center;
  }

  .container7 .card:hover {
    height : 310px;    
  }
  
  .container7 .card .image {
    position : relative;
    width : 280px;
    height :280px;
    top : -20%;
    /* box-shadow : 0 5px 20px rgba(0,0,0,0.2); */
    z-index : 1;
    align-items: center;
    left: 3.8rem;
  }
  
  .container7 .card .image img {
    width : 150px;
    border-radius : 40%;
  }
  
  .container7 .card .content {
    position : relative;
    top : -60px;
    padding : 10px 15px;
    color : #111;
    text-align : center; 
    visibility : hidden;
    opacity : 0;
    transition : 0.7s ease-in-out;   
  }
  
  .container7 .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s; 
  }

  .container{
    /* width: 1000px; */
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
    border: none;
    text-align: center;
    background-color: #ddd;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 2.5s;
}

.img3 {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

.container .card .face.face1{
    position: relative;
    background-image: url(https://i.postimg.cc/pTyftXgG/Screenshot-2023-11-01-140642.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 10%;
}

.container .card .face.face5{
    position: relative;
    background-image: url(https://i.postimg.cc/FKvvqYJv/Screenshot-2023-11-01-140947.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 10%;
}

.container .card .face.face6{
    position: relative;
    background-image: url(https://i.postimg.cc/90tqSCZ0/Logo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 10%;
}

.container .card .face.face7{
    position: relative;
    background-image: url(https://i.postimg.cc/q71WxTWc/why-business-finance-is-import.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 10%;
}

.container .card .face.face8{
    position: relative;
    background-image: url(https://i.postimg.cc/QMDfPx2G/Screenshot-2023-11-01-150803.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 10%;
}

.container .card .face.face9{
    position: relative;
    background-image: url(https://i.postimg.cc/N0sWXMCf/Data-capture-in-marketing1200x620.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 10%;
}

.container .card .face.face10{
    position: relative;
    background-image: url(https://i.postimg.cc/t4j0XDh6/Reasons-To-Do-Voluntary-Work.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 10%;
}

.container .card:hover .face.face1{
    background: transparent;
    transform: translateY(0);
}

.container .card:hover .face.face5{
    background: transparent;
    transform: translateY(0);
}

.container .card:hover .face.face6{
    background: transparent;
    transform: translateY(0);
}

.container .card:hover .face.face7{
    background: transparent;
    transform: translateY(0);
}

.container .card:hover .face.face8{
    background: transparent;
    transform: translateY(0);
}

.container .card:hover .face.face9{
    background: transparent;
    transform: translateY(0);
}

.container .card:hover .face.face10{
    background: transparent;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0;
    transition: 3s;
}

.container .card .face.face5 .content{
    opacity: 0;
    transition: 3s;
}

.container .card .face.face6 .content{
    opacity: 0;
    transition: 3s;
}

.container .card .face.face7 .content{
    opacity: 0;
    transition: 3s;
}

.container .card .face.face8 .content{
    opacity: 0;
    transition: 3s;
}

.container .card .face.face9 .content{
    opacity: 0;
    transition: 3s;
}

.container .card .face.face10 .content{
    opacity: 0;
    transition: 3s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
    transition: 0;
}

.container .card:hover .face.face5 .content{
    opacity: 1;
    transition: 0;
}

.container .card:hover .face.face6 .content{
    opacity: 1;
    transition: 0;
}

.container .card:hover .face.face7 .content{
    opacity: 1;
    transition: 0;
}

.container .card:hover .face.face8 .content{
    opacity: 1;
    transition: 0;
}

.container .card:hover .face.face9 .content{
    opacity: 1;
    transition: 0;
}

.container .card:hover .face.face10 .content{
    opacity: 1;
    transition: 0;
}

.container .card .face.face1 .content img{
    width: 300px;
    height: 200px;

}

.container .card .face.face5 .content img{
    width: 300px;
    height: 200px;
}

.container .card .face.face6 .content img{
    width: 300px;
    height: 200px;
}

.container .card .face.face7 .content img{
    width: 300px;
    height: 200px;
}

.container .card .face.face8 .content img{
    width: 300px;
    height: 200px;
}

.container .card .face.face9 .content img{
    width: 300px;
    height: 200px;
}

.container .card .face.face10 .content img{
    width: 300px;
    height: 200px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #ddd;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10%;
}

.container .card .face.face5 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #ddd;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10%;
}

.container .card .face.face6 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #ddd;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10%;
}

.container .card .face.face7 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #ddd;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10%;
}

.container .card .face.face8 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #ddd;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10%;
}

.container .card .face.face9 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #ddd;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10%;
}

.container .card .face.face10 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #ddd;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10%;
}

.container .card .face.face2{
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    border-radius: 10%;
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #ddd;
}

.container3 {
    display: flex;
    align-items: center;
    margin-left: 8.4rem;
}

.sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      teal,
      transparent);
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: white;
    text-shadow: 0 0 0.6rem white, 0 0 1.5rem gray,
      -0.2rem 0.1rem 1rem teal, 0.2rem 0.1rem 1rem gray,
      0 -0.5rem 2rem teal, 0 0.5rem 3rem gray;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: white;
      text-shadow: 0 0 0.6rem white, 0 0 1.5rem gray,
        -0.2rem 0.1rem 1rem teal, 0.2rem 0.1rem 1rem gray,
        0 -0.5rem 2rem teal, 0 0.5rem 3rem white;
    }
    28%,
    33% {
      color: gray;
      text-shadow: none;
    }
    82%,
    97% {
      color: teal;
      text-shadow: none;
    }
  }

  .fast-flicker {
    animation: shine 12s forwards, blink 12s 1s infinite;
  }

  .flicker {
    animation: shine 14s forwards, blink 14s 1s infinite;
  }
  
  .mid-flicker {
    animation: shine 20s forwards, blink 20s 1s infinite ;
  }

  /* .slow-flicker  {
    animation: shine 20s forwards, blink 20s 1s infinite;
  } */
  
  @keyframes shine {
    0% {
      color: transparent;
      text-shadow: none;
    }
    100% {
      color: white;
      text-shadow: 0 0 0.6rem white, 0 0 1.5rem gray,
        -0.2rem 0.1rem 1rem teal, 0.2rem 0.1rem 1rem gray,
        0 -0.5rem 2rem teal, 0 0.5rem 3rem white;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
  box-sizing:border-box;
}

html, body {
  height:100%;
  font: normal 1em/1.5 "Open Sans";
  background-color:#ddd;
  background-size:cover;
}

a {
  color:#ccc;
}

.container6 {
  width:500px;
  min-height:315px;
  margin:0 auto;
  position:relative;
  padding-bottom:30px;
  overflow:hidden;
}

h1 {
  text-align:center;
  text-shadow:0 1px white;
  color:#02303F;
}

h2 {
  color:#736861; 
  margin:15px 0 5px;
  text-shadow:0 1px rgba(255,255,255,0.5);
}

h6 {
  color:#928566; 
  margin:0;
}

input [type="radio"] {
position: absolute;
width: 1px; 
height: 1px; 
padding: 0;
margin: -1px;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

label {
  display:block;
  width:3rem;
  border: 7px solid #333;
  border-radius: 50%;
  position:absolute;
  bottom: 0px;
  cursor: pointer;
  transition: border-color 0.5s linear;
}

label.first {
  left: 10%;
}

label.second{
  left:20%;
}

label.third{
  left:50%;
}

label.forth {
  left:40% 
}

label.fifth {
  left:70% 
}

label.sixth {
  left:80% 
}

blockquote{
  margin:0px;
  padding:0px;
  width:500px;
  height: 185px;
  background-color: teal;
  color:white;
  text-align: center;
  box-shadow: 0 5px 2px rgba(0,0,0,0.3);
  position:relative;
  transition: background-color 0.6s linear;
  border-radius: 5%;
}

blockquote:after { 
  content: ""; 
  height: 0; 
  width: 0; 
  position: absolute; 
  top: 100%; 
  border: solid transparent; 
  border-top-color: teal;
  border-left-color:teal;
  border-width: 7px; 
  left: 10%;
} 

#second:checked ~ .two blockquote {
  background-color: seagreen;
}

.two blockquote:after{
  border: solid transparent; 
  border-top-color: seagreen;
  border-left-color:seagreen;
  border-width: 7px;
}

#third:checked ~ .three blockquote{
  background-color:tomato;
}

.three blockquote:after{
  border: solid transparent; 
  border-top-color: tomato;
  border-left-color: tomato;
  border-width: 7px;
}

#forth:checked ~ .four blockquote {
  background-color:orange;
}

.four blockquote:after{
  border: solid transparent; 
  border-top-color: orange;
  border-left-color:orange;
  border-width: 7px;
}

#fifth:checked ~ .five blockquote {
  background-color:slateblue;
}

.five blockquote:after{
  border: solid transparent; 
  border-top-color: slateblue;
  border-left-color:slateblue;
  border-width: 7px;
}

#sixth:checked ~ .six blockquote {
  background-color:maroon;
}

.six blockquote:after{
  border: solid transparent; 
  border-top-color: maroon;
  border-left-color:maroon;
  border-width: 7px;
}

.quotes{
  position:absolute;
  color:rgba(255,255,255,0.5);
  font-size:5em;
}

.leftq{
  top:-10px;
  left:5px;
}

.rightq{
  bottom:-20px;
  right:5px;
}

img{
  float:left;
  margin-right: 20px;
}

.slide{
  position:absolute;
  left:-100%;
  opacity:0;
  transition: all 1.5s ease-in-out;
}

#first:checked ~ label.first {
  border-width:10px;
  border-color: teal;
  
}

#second:checked ~ label.second {
  border-width:10px; border-color:seagreen;
}

#third:checked ~ label.third {
  border:10px solid tomato;
}

#forth:checked ~ label.forth {
  border:10px solid orange;
}

#fifth:checked ~ label.fifth {
  border:10px solid slateblue;
}

#sixth:checked ~ label.sixth {
  border:10px solid maroon;
}

#first:checked ~ div.one {
  left:0;
  opacity:1;
}

#second:checked ~ div.two {
  left:0;
  opacity:1;
}

#third:checked ~ div.three {
  left:0;
  opacity:1;
}

#forth:checked ~ div.four {
  left:0;
  opacity:1;
}

#fifth:checked ~ div.five {
  left:0;
  opacity:1;
}

#sixth:checked ~ div.six {
  left:0;
  opacity:1;
}

.NWimg {
  border-radius: 50%;
}

.JSimg {
  border-radius: 50%;
}

.JMimg {
  border-radius: 50%;
}

.DRimg {
  border-radius: 50%;
}

.MRimg {
  border-radius: 50%;
}

.KMimg {
  border-radius: 50%;
}

.container7{
  width: 50%;
  margin: 0 auto;
}

@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

/* .bar{
  background-color: #333;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #ddd;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.bar::before{
  content:  attr(data-skill);
  background-color: red;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 5s 0s;
  -webkit-animation: load 50s 0s;
  -moz-animation: load 5s 0s;
  -o-animation: load 5s 0s;
}

.bar.front::before{
  background-color: teal;
}

.bar.back::before{
  background-color: yellow;
}

.bar.learning::before{
  width: calc(90% - 10px);
}

.bar.basic::before{
  width: calc(80% - 10px);
}

.bar.intermediate::before{
  width: calc(75% - 10px);
}

.bar.advanced::before{
  width: calc(85% - 10px);
}

.bar.expert::before{
  width: calc(90% - 10px);
} */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.outerdiv
{
	width: 100%;
    min-height: 100vh;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #333;
    color: white;
}
.div1
{
	background: teal;
    grid-column: 1/3;
    grid-row: 1/2;
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div1:hover {
  background-color: maroon;
  transition: 0.7s ease-in-out;

}
.div2
{
	background:tomato;
    grid-column: 3/4;
    grid-row: 1/2;
    color: black;
}
.div2:hover {
  background-color: indigo;
  transition: 0.7s ease-in-out;

}
.div3
{
	background: yellowgreen;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div3:hover {
  background-color: violet;
  transition: 0.7s ease-in-out;

}
.div4
{
	background: peru;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div4:hover {
  background-color: orange;
  transition: 0.7s ease-in-out;

}
.div5
{
	background: slateblue;
	grid-column: 2/4;
    grid-row: 2/3;
}
.div5:hover {
  background-color: salmon;
  transition: 0.7s ease-in-out;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 6rem;
	border: 2px solid #333;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #333;
}
.review h4
{
	font-size: 1.4rem;
	color: #ddd;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#333;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}

